# Point to where the backend server is running. This is used by the frontend to make API calls
NEXT_PUBLIC_API_BASE=http://localhost:8080

# Enable backend health check (optional, defaults to true)
NEXT_PUBLIC_ENSURE_BACKEND_RUNNING=false
